<section>
  <div class='section-head'>
    <h2><%= @shelter.name.split.map(&:capitalize).join(' ') %></h2>
    <a href="/shelters/<%= @shelter.id %>/edit" class='header-link'>Update Shelter</a>
  </div>

  <div>
    <p class='shelter-info'>
      <%= @shelter.address %> <br>
      <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
    </p>
  </div>
</section>
