<section>
  <div class='section-head'>
    <h2><%= @shelter.name.split.map(&:capitalize).join(' ') %></h2>
    
    <a href="/shelters/<%= @shelter.id %>/pets" class='header-link'>Pets</a>
    <%= render "shared/interaction_form", locals: {link: "/shelters/#{@shelter.id}"} %>
  </div>

    <div>
      <h3>Shelter Statistics:</h3>
      Num of Pets: <%= @shelter.total_pets %><br>
      Average Rating: <%= @shelter.average_rating %><br>
      Applications: <%= @shelter.application_count %><br>
    </div>
  

  <div>
    <p class='shelter-info'>
      <%= @shelter.address %> <br>
      <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
    </p>
  </div>

  <div class='review-block'>
    <div class='section-head'>
      <h2 class='padded'>Reviews:</h2>
      <a href="/shelters/<%= @shelter.id %>/reviews/new" class='header-link'>Add Review</a>
    </div>
    <% @shelter.reviews.each do |review| %>
      <div id='review-<%= review.id %>' class='review-section'>
        <div class='section-head'>
          <h3><%= review.title %></h3>
          <%= render "shared/interaction_form", locals: {link: "/reviews/#{review.id}"} %>
        <p>
          <%= review.rating %> stars, by <%= review.user.name %>
        </p>
        <% if review.image != '' %>
          <img src="<%= review.image %>" alt="user image for review">
        <% end %>
        <p>
          <%= review.content %>
        </p>
      </div>
    <% end%>
  </div>

</section>
