<section>
  <div class='section-head'>
    <h2><%= @shelter.name.split.map(&:capitalize).join(' ') %></h2>
    <a href="/shelters/<%= @shelter.id %>/pets" class='header-link'>Pets</a>
    <a href="/shelters/<%= @shelter.id %>/edit" class='header-link'>Update Shelter</a>

    <form action="/shelters/<%= @shelter.id %>" method='post'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Shelter" class='header-link' id='delete-submit'>
    </form>
  </div>

  <div>
    <p class='shelter-info'>
      <%= @shelter.address %> <br>
      <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
    </p>
  </div>

  <div class='review-block'>
    <div class='section-head'>
      <h3>Reviews:</h3>
      <a href="/shelters/<%= @shelter.id %>/reviews/new" class='header-link'>Add Review</a>
    </div>
    <% @shelter.reviews.each do |review| %>
      <div>
        <h3><%= review.title %></h3>
        <p>
          <%= review.rating %> stars, by <%= review.user.name %>
        </p>
        <img src="<%= review.image %>" alt="user image for review">
        <p>
          <%= review.content %>
        </p>
      </div>
    <% end%>
  </div>

</section>
