<section>
  <div class='section-head'>
    <h2>Edit Review:</h2>
  </div>

  <form action="/reviews/<%= @review.id %>" method="post">
    <input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>'>
    <input type="hidden" name="review[shelter_id]" value='<%= @review.shelter.id %>'>
    <input type="hidden" name='_method' value='PATCH'>
    <div class='form-grid'>

      <h3>Title:</h3>
      <div class='input-block'><input type="text" name="review[title]" value='<%= @review.title %>'>
        <div class='required-tag'>*</div>
      </div>
      <h3>Rating:</h3>
      <%= select_tag 'review[rating]', options_for_select([1, 2, 3, 4, 5], @review.rating), class: 'form-select' %>
      <h3>Content:</h3>
      <div class='input-block'>
        <textarea name="review[content]" cols="30" rows="10" class='form-select'><%= @review.content %></textarea>
        <div class='required-tag'>*</div>
      </div>
      <h3>Username:</h3>
      <%= select_tag 'review[user_id]', options_from_collection_for_select(@users, :id, :name, @review.user), class: 'form-select' %>
      <h3>Image:</h3>
      <input type="text" name="review[image]" value='<%= @review.image %>'>

    </div>

    <% if flash[:error] %>
      <p class='error-message'><%= flash[:error] %></p>
    <% end %>

    <input type="submit" id='submit' value='Update'>

  </form>
</section>
