

<section>
  <div class='section-head'>
    <h2>Adoption Application</h2>

    <form action="/applications/<%= @application.id %>" method='post'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Application" class='header-link delete-submit'>
    </form>
  </div>
  <h3>Status: <%= @application.status %></h3>

  <div>
    <p class='shelter-info'>
      User: <%= @user.name %><br>
      <%= @user.address %> <br>
      <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
      <br>
      <br>
      <%= @application.description %>
    </p>

  </div>
  
  <div id="pet-search">
    <%= form_tag  "/applications/#{@application.id}", method: :get do%>
      <%= label_tag "search pet names:" %>
      <%= text_field_tag 'search'%>
      <%= submit_tag 'Search' %>
    <% end %>
    <% if @pet_search %>
      Pets that match search for '<%= @search %>': 
      <% @pet_search.each do |pet| %>
        <div id="pet-search-<%= pet.id %>" class='search-result-box'>
          <div class='search-img-box'>
            <div style="margin: 2px;"><%= pet.name%></div>
            <img src="<%= pet.image %>" alt="" style="display: cover; width: 100%;">
            <div style="margin: 2px;">
              <%= link_to 'Add to Application', "/applications/#{@application.id}/#{pet.id}", method: :post %>
            </div>
          </div>
        </div>
      <% end%>
    <% end%>
  </div>
  
  <div>
    <h3>Pets Applied for:</h3>
    <% @pets.each do |pet| %>
    <div id="application-pet-<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'shelter-link'%> 
    </div>
    <% end%>
  </div>



  

  

</section>
