<section>
  <div class="section-head">
    <h2>Pets:</h2>
  </div>
  <div class='box-grid'>
    <% @pets.each do |pet| %>
      <div class='box-grid-element'>

        <a href="/pets/<%= pet.id %>" class='pet-link'><%= pet.name %></a>
        <img src="<%= pet.image %>" alt="Picture of <%= pet.name %>%" class='pet-image'>
        <p>Age: <%= pet.age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>
          Shelter: <a href="/shelters/<%= Shelter.find(pet.shelter_id) %>" class='pet-shelter-link'>
            <%= Shelter.find(pet.shelter_id).name.split.map(&:capitalize).join(' ') %>
          </a>
        </p>
      </div>
    <% end %>
  </div>
</section>
