<section>
  <div class="section-head">
    <h2>Pets:</h2>
    <div class='action-element-container-long'>
      <a href="/pets?filter=adoptable" class='header-link'>Show only adoptable pets</a>
      <a href="/pets?filter=pending" class='header-link'>Show only adoption-pending pets</a>
    </div>
  </div>
  <div class='box-grid'>
    <% @pets.each do |pet| %>
      <div class='box-grid-element'>
        <div class='pet-header'>
          <a href="/pets/<%= pet.id %>" class='pet-link'><%= pet.name %></a>
          <div class='pet-action-element-container'>
            <a href="/pets/<%= pet.id %>/edit" class='shelter-action-link'>Update</a>
            <form action="/pets/<%= pet.id %>" method='post'>
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class='shelter-action-button'>
            </form>
          </div>
        </div>
        <img src="<%= pet.image %>" alt="Picture of <%= pet.name %>%" class='pet-image'>
        <p>Age: <%= pet.age %></p>
        <p>Sex: <%= pet.sex %></p>
        <p>
          Shelter: <a href="/shelters/<%= pet.shelter_id %>" class='pet-shelter-link'>
            <%= Shelter.find(pet.shelter_id).name.split.map(&:capitalize).join(' ') %>
          </a>
        </p>
      </div>
    <% end %>
  </div>
</section>
