<section>
  <div class='section-head'>
    <h2><%= @pet.name.split.map(&:capitalize).join(' ') %></h2>
    <%= render "shared/interaction_form", locals: {link: "/pets/#{@pet.id}"} %>
    <%= link_to 'View Applications', "/pets/#{@pet.id}/applications" %>
  </div>
  <img src="<%= @pet.image %>" alt="Photo of <%= @pet.name.split.map(&:capitalize).join(' ') %>" class='pet-show-image'>
  <div>
    <p class='pet-info'>
      <%= @pet.description.capitalize %> <br>
      Age: <%= @pet.age %> <br>
      Sex: <%= @pet.sex %> <br>
      Can you adopt <%= @pet.name.split.map(&:capitalize).join(' ') %>? <%= @adoptability %> <br>
      Location: <a href="/shelters/<%= @shelter.id %>" class='content-link'><%= @shelter.name.split.map(&:capitalize).join(' ') %></a>
    </p>
  </div>
</section>
