<section>
  <div class='section-head'>
    <h2>Adoption Application</h2>

    <%# BUTTON TO DELETE APPLICATION %>

    <form action="/applications/<%= @application.id %>" method='post'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Application" class='header-link delete-submit'>
    </form>
  </div>

  <%# APPLICATION STATUS %>

  <h3>Application Status: <%= @application.status %></h3>

  <%# APPLICATION USER DETAIL %>

  <div>
    <p class='shelter-info'>
      User: <%= @application.user.name %><br>
      <%= @application.user.address %> <br>
      <%= @application.user.city %>, <%= @application.user.state %> <%= @application.user.zip %>

    </p>

  </div>

  <%# PETS ON APPLICATION %>
  <h3>Pets Applied for:</h3>
  <div class='box-grid'>
    <% @application.pets.each do |pet| %>
      <div id="application-pet-<%= pet.id %>" class='box-grid-element'>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'shelter-link'%>
        <% case @application.pet_status(pet) %>
        <% when nil %>
        <%= button_to "Approve Pet", "/admin/applications/#{@application.id}/pets/#{pet.id}", method: :patch, params: {todo: :approve}, class: 'header-link' %>
        <%= button_to "Reject Pet", "/admin/applications/#{@application.id}/pets/#{pet.id}", method: :patch, params: {todo: :reject}, class: 'header-link' %>
        <% when 'Approved' %>
        <p class='approval-tag'>Approved!</p>
        <% when 'Rejected' %>
        <p class='rejection-tag'>Rejected!</p>
      <% end %>
    </div>
  <% end%>
</div>

<%# REASON TO ADOPT %>

<%# If Submission 'pending' display: %>

<% if @application.status == "Pending" %>
  <h4><%= label_tag "Why you would make a good owner:" %></h4>
  <p><%= @application.description %></p>
<% end%>

</section>
