<section>
  <div class='section-head'>
    <h2><%= @user.name %></h2>
    <a href="/users/<%= @user.id %>/edit" class='header-link'>Update User</a>

    <form action="/users/<%= @user.id %>" method='post'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete User" class='header-link' id='delete-submit'>
    </form>
  </div>

  <div>
    <p class='user-info'>
      <%= @user.address %> <br>
      <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
    </p>
  </div>

  <div class = 'hl-review-block'>
    <div class='review-block'>
      <div class='section-head'>
        <h3>Highlighted Reviews:</h3>
      </div>
      <% @user.highlighted_reviews.each do |review| %>
        <div id="hl-review-<%= review.id %>" class='review-section'>
          <h3><%= review.title %></h3>
          <p>
            <%= review.rating %> stars, by <%= review.user.name %>
          </p>
          <% if review.image != '' %>
            <img src="<%= review.image %>" alt="user image for review">
          <% end %>
          <p>
            <%= review.content %>
          </p>
        </div>
      <% end%>
    </div>
  </div>


  <div class='review-block'>
    <div class='section-head'>
      <h3>Reviews:</h3>
    </div>
    <% @user.reviews.each do |review| %>
      <div id="review-<%= review.id %>" class='review-section'>
        <h3><%= review.title %></h3>
        <p>
          <%= review.rating %> stars, by <%= review.user.name %>
        </p>
        <% if review.image != '' %>
          <img src="<%= review.image %>" alt="user image for review">
        <% end %>
        <p>
          <%= review.content %>
        </p>
      </div>
    <% end%>
  </div>
</section>
