<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="title-bar">
        <a href="/" id="page-title">Adopt, Don't Shop!</a>
      </div>
      <nav>
        <a href="/shelters" class="nav-link">Shelters</a>
        <a href="/pets" class="nav-link">Pets</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
